---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
</style>